body {
	font-family: Verdana, sans-serif;
}

.calendar {
	display: inline-block;
}

.calendar-header {
	background-color: #1abc9c;
	box-sizing: border-box;
	color: white;
	font-size: 20px;
	padding: 50px 25px;
	text-align: center;
	width: 100%;
	color: white;
}

.calendar-header p {
	margin: 5px;
}

table {
	border-collapse: collapse;
	text-align: center;
}

thead {
	background-color:#ddd;
	color: #666;
	font-size: 15px;
}

tbody {
	background: #eee;
	color: #777;
	font-size: 12px;
}

th, td {
	border: 1px solid #ddd;
	padding: 10px 0;
	width: 13.6%;
}

td {
	height: 50px;
}

td:not(.not-selectable):hover {
	background: #1abc9c;
	color: white;
	cursor: pointer;
}

.not-selectable {
	background-color: #777777a6;
}
