body {
	font-family: Verdana, sans-serif;
	display: flex;
	flex-direction: row;
}

button {
	background-color: #008CBA;
	border: none;
	color: white;
	cursor: pointer;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}
button:not([disabled]):hover {
	opacity: 0.7;
}
button[disabled] {
	background-color: #e7e7e7;
	color: black;
	cursor: initial;
}

.calendar {
	flex: 2;
}

.calendar-header {
	background-color: #1abc9c;
	box-sizing: border-box;
	color: white;
	font-size: 20px;
	padding: 50px 25px;
	text-align: center;
	width: 100%;
	color: white;
}

.calendar-header p {
	margin: 5px;
}

table {
	border-collapse: collapse;
	text-align: center;
}

thead {
	background-color:#ddd;
	color: #666;
	font-size: 15px;
}

tbody {
	background: #eee;
	color: #777;
	font-size: 12px;
}

th, td {
	border: 1px solid #ddd;
	padding: 10px 0;
	width: 13.6%;
}

td {
	height: 50px;
}

td:not(.not-selectable):hover {
	background: #1abc9c;
	color: white;
	cursor: pointer;
}

.not-selectable {
	background-color: #777777a6;
}

.form-section {
	flex: 1;
	padding: 10px;
}

.form {
	border: 1px solid #ddd;
	color: #777;
	display: none;
	padding: 10px;
}

.form-title {
	color: #666;
	margin-top: 0;
}

.form-fieldset {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.form-fieldset label {
	margin-bottom: 5px;
}

.form input,
.form textarea {
	flex: 1;
}